.Email{
    color: blue;
}

.he{
    background-color: cornflowerblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.ma{
    font-size: 20px;
}

.fo{
    background-color: cornflowerblue;
}