table{
    border-collapse: collapse;
    margin:auto;
    display: flex;
    justify-content: center;
    
}

tr, th, td{
    border: 1px solid black;
}

th{
    background-color: rgb(43, 173, 69);
    color: white;
}

th,td{
    padding: 10px;
}