.p1{
    color: red;
    font-size: 0.9rem;
}

.p2{
    color: blue;
    font-size: 0.8rem;
}

.p3{
    color: green;
    font-size: 0.5rem;
}

.p4{
    color: purple;
    font-size: 0.4rem;
}

.p5{
    color: black;
    font-size: 0.3rem;
}